  <nav class="purple darken-2" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">GamersMingle</a>
            <ul class="right hide-on-med-and-down">
                <!-- <li id='userLogo'>Welcome, <span id='userNameText'></span></li> -->
                <li><a href='userHomePage.html'>Home</a></li>
                <li><a href='#'>Friend</a></li>
                <li><a href='#'>Game</a></li>
            </ul>
        
            <ul id="nav-mobile" class="sidenav">
                <li><a href='#'>Home</a></li>
                <li><a href='#'>Friend</a></li>
                <li><a href='#'>Game</a></li>
                
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <div class="main">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input placeholder="UserName" id="userName" type="text" class="validate">
                            <label for="userName"></label>
                        </div>

                        <div class="input-field col s12">
                            <i class="material-icons prefix">create</i>
                            <input placeholder="Password" id="password" type="text" class="validate">
                            <label for="password"></label>
                        </div>
                        <button class="btn purple darken-2" id="loginButton" type="submit" name="action">Login</button>
                    </div>
                </form>
            </div>
        </div>


            {{!-- <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form> --}}